@import 'common';

::-webkit-scrollbar {
    width: 8px; // Width of the scrollbar
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2); // Background color of the track
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5); // Color of the scrollbar thumb
    border-radius: 4px; // Radius of the scrollbar thumb
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.7); // Hover color of the scrollbar thumb
}